


{% block head %}

<title>Calculator_Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="header">
  <h2>Demo Calculator by Tanu</h2>
</div>

    <h4 style="text-align: center; color:brown;">[ Backend-Python : WebFramework-Flask : Deployment-Heroku ]</h4>
    <h6 style="text-align: center; color:red;">Note: Currently not tuned for decimal input values.</h6>
    <div class="form">
        <form action="/math" method="POST">

            <label for="operation">Choose a Mathematical Operation</label>

<select id="operation" name="operation">
  <option value="add">add</option>
  <option value="subtract">subtract</option>
  <option value="multiply">multiply</option>
  <option value="divide">divide</option>
</select>
            <input type="text" name="num1" id="num1">
            <input type="text" name="num2" id="num2">
            <input type="submit" value="Calculate">
        </form>
    </div>
</div>
{% endblock %}
